/* card title font adjustment */
.card-title {
    font-weight: 600;
}


/* adjust carousel dimension  */
#carouselExampleControls {
    padding: 0 20vw;
}

.carousel-control-prev {
    left: 15vw;
}

.carousel-control-next {
    right: 15vw;
}

/* mobile carousel adjustment  */

@media (max-width:990px) {
    #carouselExampleControls {
        padding: 0 10vw;
    }

    .carousel-control-prev {
        left: 5vw;
    }

    .carousel-control-next {
        right: 5vw;
    }
}