



/* adjust carousel dimension  */
#carouselExampleControls {
    width: 60%;
}

/* mobile carousel adjustment  */

@media (max-width:767px) {
    #carouselExampleControls {
        width: 80% !important;
    }
}

@media (max-width:500px) {
    #carouselExampleControls {
        width: 90% !important;
    }
}