/* card title font adjustment */
.card-title {
    font-weight: 600;
}


/* adjust carousel dimension  */
#carouselExampleControls {
    padding: 0 20vw;
}

/* mobile carousel adjustment  */

@media (max-width:990px) {
    #carouselExampleControls {
        padding: 0 10vw;
    }
}