/* align cards to the center  */
.row {
    align-items: center;
}

.card.mb-5 {
    width: 90%;
    background-color: #007b81;
}

/* navbar color  */
nav {
    background-color: #007b81;
}

/* nav link and logos font size adjustment  */

.nav-link.active, .navbar-nav .nav-link.bi, #footer .nav-item, footer .nav-link, #copyright, .card-title {
    font-weight: 600;
}

.nav-link.active, .navbar-nav .nav-link.bi {
    font-size: 8vw;
}


#footer .nav-item, footer .nav-link, #copyright {
    font-size: 2.5rem
}

.card-title {
    font-size: 3rem;
}


#navlogo {
    width: 60vw;
}

#footerlogo {
    height: 4rem;
}

.nav-link.text-muted {
    color: black !important;
}

.navbar-toggler-icon {
    width: 10vw;
    height: 10vw;
}

/* navbar logos color and font weight adjustments */
.navbar-nav .nav-link.bi {
    color: black;
}


.navbar-toggler {
    color: black !important;
    border: 3px solid;
    border-color: black !important;
}

/* Stick the footer to the bottom of the page  */

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Indie Flower', sans-serif;
}

#footer {
    margin-top: auto;
    padding: 0;
}


@media (min-width:990px) {


    .nav-link.text-muted {
        padding: 0px;
    }

    footer .nav-link, #copyright {
        font-size: 1.2rem;
    }

    .nav-link.active, .navbar-nav .nav-link.bi {
        font-size: 1.7rem;
    }


    #footer .nav-item, footer .nav-link, #copyright {
        font-size: 1.5rem
    }

    .card-title {
        font-size: 2.5rem;
    }


    #navlogo {
        width: clamp(250px, 25vw, 300px);
    }

    #footerlogo {
        height: 3rem;
    }

    .navbar-toggler-icon {
        width: 3rem;
        height: 3rem;
    }

}