/* align cards to the center  */
.row {
    align-items: center;
}

.card.mb-5 {
    width: 90%;
    background-color: cadetblue;
}

/* nav link and logos font size adjustment  */

.nav-link.active, .navbar-nav .nav-link.bi, #footer .nav-item, footer .nav-link, #copyright, .card-title {
    font-weight: 600;
}

.nav-link.active, .navbar-nav .nav-link.bi {
    font-size: 4rem;
}


#footer .nav-item, footer .nav-link, #copyright {
    font-size: 2.5rem
}

.card-title {
    font-size: 3rem;
}

.nav-link.text-muted {
    color: black !important;
}

#navlogo {
    height: 6rem;
}

#footerlogo {
    height: 4rem;
}

.navbar-toggler-icon {
    width: 4rem;
    height: 4rem;
}

/* navbar logos color and font weight adjustments */
.navbar-nav .nav-link.bi {
    color: black;
}


.navbar-toggler {
    color: black !important;
    border: 3px solid;
    border-color: black !important;
}

/* Stick the footer to the bottom of the page  */

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Indie Flower', cursive;
}

#footer {
    margin-top: auto;
    padding: 0;
}


@media (min-width:990px) {


    .nav-link.text-muted {
        padding: 0px;
    }

    footer .nav-link, #copyright {
        font-size: 1.2rem;
    }

    #navlogo {
        height: 3rem;
    }

    #footerlogo {
        height: 3.5rem;
    }

}