/* nav link font size adjustment  */
.nav-link.active {
    font-size:large
}

/* Stick the footer to the bottom of the page  */

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

#footer {
    margin-top: auto;
}